@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap");

.navbar{
    display: flex;
    justify-content: flex-end;
    margin: 2px 5%;
}

.navlinks {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    90.18deg,
    rgba(66, 35, 103, 0.57) 0%,
    rgba(49, 24, 79, 0.57) 100%
  );
  backdrop-filter: blur(20px);
  border-radius: 0px 0px 15px 15px;
  z-index: 2;
}

/* .avatarcontainer {
  width: 50vw;
} */

/* .avatar {
    display: inline-block;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: black;
    margin-left: 8px;
} */

.navLinks {
  list-style: none;
  margin: 0 40px;
}

.nav-item {
  padding: 4px 6px;
  border: none;
  margin: 0 5px;
  color: white;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
}

.cta {
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #ff9e00;
  box-sizing: border-box;
  border-radius: 18px;
  color: #ff9e00;
  width: 14%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta:hover {
  background-color: #ff9e00;
  color: #fff;
  cursor: pointer;
}

.nav-item:hover {
  color: gray;
}
